body {
    font-size: 15pt;
    background-image: url('Imágenes/Imágenes/Fondos/Mango-background.jpg');
    background-attachment: fixed;
    background-size: 100% 100%;
}

#ep2 {
    border: 4px double rgba(89, 144, 62, 1);
}

table {
    margin-bottom: 1em;
}